*{
    margin:0;
    padding:0;  
}
body{
    background-color:rgb(244, 224, 224);
    font-family: 'Times New Roman', Times, serif;
    height:100vh;
    display:flex;
    justify-content: center;
    align-items: center;
}
.card{
    background-color: aliceblue;
    width: 400px;
    padding: 30px;
    text-align: center;
    box-shadow:0 10px 25px black;
    font-style: italic;
    border-radius: 20px;
    

}
img{
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 15px;
}
h2{
    font-size:29px;
    margin-bottom: 10px;

}
p{
    color:azure;
    font-size:15px;
    margin-bottom: 5px;
}
.details p a{
    text-decoration: none;
    font-size:16px;
    margin-bottom:5px;
}
.buttons a{
    text-decoration: none;
    background-color:#2e2933;
    color:white;
    padding:7px;
    border-radius:5px;
    margin:15px;
}
.buttons{
    margin-top: 30px;
}
.buttons a:hover{
    background-color: rgb(238, 109, 176);
}
